<link rel="stylesheet" href="/css/projectPage.css" />
<link rel="stylesheet" href="/css/issues.css" />
<div id="container">
  <div id="project-container">
    <h3 id="project-name">Project : <%= project.name %></h4>
    <h5 id="project-author">Author : <%= project.author %></h5>
    <h5 id="project-desc">Description : <%= project.description %></h5>
  </div>
</div>
<%-include('./partials/_issues'); %>
