#header-container {
  background-color: black;
}

#header-container #heading-issue-tracker {
  color: white;
}

#header-container #button-new-project {
  color: black;
  background-color: white;
  border-color: white;
}

#button-create-project {
  background-color: black;
  border-color: white;
  color: white;
  padding: 5px;
}

#button-modal-close {
  background-color: red;
  border-color: white;
  color: white;
  padding: 5px;
}
