#button-close {
  background-color: red;
  border-color: white;
  color: white;
  padding: 5px;
}

#button-submit {
  background-color: black;
  border-color: white;
  color: white;
  padding: 5px;
}
